
.todo-app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0080ff;
  }


  .todo-table {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 400px;
    background-color: rgb(5, 5, 5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .todo-table li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .todo-table li:last-child {
    border-bottom: none;
  }


  button {
    background-color: #ff6b6b;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #ff4c4c;
  }


  .todo-table li:first-child {
    text-align: center;
    font-style: italic;
  }

  .todo-table li:hover {
    background-color: #000000;
  }